{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country</title>
</head>
<body>

    <div class="page">
        <img width="400px" height="400px" id="image1" src="{% static 'gallary/country/countary1.jpg'  %}"  />
        <img width="400px" height="400px" id="image1" src="{% static 'gallary/country/countary2.jpg'  %}"  />
        <img width="400px" height="400px" id="image1" src="{% static 'gallary/country/countary3.jpg'  %}"  />
        <img width="400px" height="400px" id="image1" src="{% static 'gallary/country/countary4.jpg'  %}"  />
        <img width="400px" height="400px" id="image1" src="{% static 'gallary/country/countary5.jpg'  %}"  />
        <img width="400px" height="400px" id="image1" src="{% static 'gallary/country/countary6.jpg'  %}"  />
        <img width="400px" height="400px" id="image1" src="{% static 'gallary/country/countary7.jpg'  %}"  />
    </div>
</body>
</html>
{% endblock %}