{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Welcome</h1>
        <p class="lead my-3">Welcome to our blog! We're excited to share our thoughts and insights. In this blog, we'll cover a range of topics related to photography. Our goal is to provide you with valuable information and helpful tips that you can use in your life. Whether you're an expert in photography, or just getting started, we hope you'll find our blog informative and engaging. So, let's dive in!</p>
      </div>
    </div>
{% for x in post.all %}  
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">{{x.title}}</h3>
            <div class="mb-1 text-muted">{{x.date}}</div>
            <p class="card-text mb-auto">{{x.text}}</p>
          </div>
        </div>
      </div>
{%endfor%}
{% endblock %}